*{
box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(26, 3, 3);
}
.Grid-container{
    display: grid;
    grid-template-columns:( auto,auto,auto);
    gap: 10px;
    padding: 10px;
    background-color: white;

}
.grid-item{
    background-color: rgb(26, 3, 3);
    padding: 20px;
    text-align: center;
    border: 2px solid rgb(rgb(26, 3, 3), green, blue, alpha);
    color: aliceblue;
    font-size: xx-large;

}

@media(max-width:600px){
    .Grid-container{
        grid-template-columns: 1fr;
    }
}
@media(min-width: 901px){
    .Grid-container{
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 601px)and (max-width: 900px){
        .Grid-container{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    }
h1{
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-style: oblique;
    font-weight: bold;
    font-size: 50px;
    color:white;
}
p{
    font-size: 500px;
    text-decoration: underline;
    text-transform: capitalize;
    font-style: oblique;
    font-weight: bold;
    font-size: 50px;
    color:white;
    text-align: center;
}
.span1{
    color: rgb(248, 133, 204);
}
/*hover effect*/
.grid-item:hover{
    background-color:rgb(248, 133, 204);
    transition: scale(0.9);
    cursor: pointer;
}